body{
    background-color: #111111;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

a:link,:hover{
    text-decoration: none;
    text-decoration: whitesmoke;
    color:whitesmoke;
}

.header{
    background-color: #db0000;
    height: 100px;
    display: flex;  
    align-items: center;
}

.logo{
    height: 100px;
    width: 100px;
}

.header h2{
    font-size: 25px;
    padding: 25px;
}

.header h3{
    font-size:  20px;
    padding: 25px;
}

.menu li{
    margin: 0 10px;
    display:inline;
    font-size: 25px;
}

.header a{
    color: white;
}

.meme{
    padding-right: 5px;
    padding-left: 5px;
    width: 600px;
    height: 600px;
}

.memes li{
    text-align: left;
    font-size: 50px;
    padding: 100px;
}

ol{
    list-style: none;
}

.falasdorei{
    font-size: 20px;
    position:absolute;
    bottom: 500px;
    left: 620px;
    padding: 5px;
    
}