@charset "UTF-8";

body{
    background-color: #010D00;
    color: #F2E6D8;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

a:link,:hover{
    text-decoration: none;
    text-decoration: #F2E6D8;
    color:#F2E6D8;
}

.header{
    background-color: #8C0F1A;
    height: 100px;
    display: flex;  
    align-items: center;
}

.logo{
    height: 105px;
    width: 105px;
}

.header h1{

    font-size: 75px;
    padding: 25px;
}
.header h2{
    font-size: 25px;
    padding: 10px;
}

.header h3{
    font-size: 15px;
    padding: 5px;
}

.menu li{
    margin: 0 10px;
    display:inline;
    font-size: 25px;
}

.header a{
    color: #F2E6D8;
}

ol{
    list-style: none;
}

.ldt li{
    font-size:75px;
}

.video{
    width: 600px;
    height: 600px;
}